page-programs {

}

.bounding-box {
    background-image: url('../../assets/img/TitleImage.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 44px;
    width: 100%;
  }
