page-home {

}

.bounding-box {
    background-image: url('../../assets/img/TitleImage.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 44px;
    width: 100%;
  }

  .titleicon {
    width: 100%;
    left: 40px;
    bottom: 0;
    text-align:center;
}

.slide-img{
    height: 20% !important;
    display:block;
    width: auto !important;
    
  }